
body {
 background-color: #000066;
 text-align:center;
}
h1  {
 color: #FFFF00;
 text-align: center;
}
h2   {
 color:#FFFF00;
 text-align: center;
}  
p    {
 color: #FFFF00;
  text-align:center;
}
b    {
 color: #FFFF00;
  text-align:center;
}
ol    {
 color: #FFFF00;
  }

img{
margin-right:auto;
 margin-left:auto;
 }
