
body {
 background-image: #000066;
 color: #FFFF00;
 text-align:center;
}
h2   {
 color:#FFFF00;
 text-align: center;
}  
p    {
 color: #FFFF00;
  text-align:center;
}

img{
margin-right:auto;
 margin-left:auto;
 }
