
body {
 background-color: #11248A;
}
h1   {
 color: #FFFF00;
 text-align:center;
}
p    {
 color: #FFFF00;
  text-align:center;
}

img{
margin-left:auto;
 margin-right:auto;
 border-radius:20px;
 padding-top:0px;

}
